<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>diti -Desarrollo e Inovación en Tecnologias de la Información</title>
	<link rel="stylesheet" href="media/css/normalize.css">
	<link rel="stylesheet" href="media/css/style.css">
	<script type="text/javascript" src="media/js/modernizr.js"></script>
</head>
<body>
	<div id="container">
		<header>
			<ul id="toplink">
				<li><a href="#">Mapa del Sitio</a> |</li>
				<li><a href="#">Acceso a Clientes</a> |</li>
				<li><a href="#">Ayuda</a></li>
			</ul>
			<h1><a href="#">Diti - Desarrollo integral en tecnologías de la información</a></h1>
			<form action="#" id="searchbox">
				<div>
					<input type="search" name="search" placeholder="Buscar en el sitio">
					<input type="submit" value="Buscar" class="buttonblue">
				</div>
			</form>
			<nav>
				<ul class="graybars">
					<li><a href="#">Inicio</a></li>
					<li><a href="#">Servicios</a></li>
					<li><a href="#">Productos</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Acerca de Nosotros</a></li>
					<li><a href="#">Contacto</a></li>
				</ul>
			</nav>
		</header>
		<section id="maincontent" role="main">
			{% block content %}
			{% endblock %}
		</section>
		<footer class="graybars">
			<section id="sols">
				<h3>Soluciones a Medida</h3>
				<ul>
					<li><a href="">Telefonía IP</a></li>
					<li><a href="">Soluciones RFID</a></li>
					<li><a href="">Videovigilancia</a></li>	
					<li><a href="">Control de Acceso</a></li>
					<li><a href="">Desarrollo de Software a Medida</a></li>
					<li><a href="">Diseño y Desarrollo de sitios web</a></li>
				</ul>
			</section>
			<section>
				<h3>Nuestro Blog</h3>
				<ul>
					<li>Gentrify gluten-free lomo, commodo next level. <a href="">Leer más...</a></li>
					<li>Gentrify gluten-free lomo, commodo next level. <a href="">Leer más...</a></li>
					<li>Gentrify gluten-free lomo, commodo next level. <a href="">Leer más...</a></li>
				</ul>
			</section>
			<section>
				<h3>Contacto</h3>
				<p>contacto@ditisoluciones.com <br />(55)55-69-23-74</p>
				<p>Adolfo Prieto 1439, Despacho 801
				Col. Del Valle, Del. Benito Juárez,
				México DF.</p>
			</section>
			<section id="socials">
				<h3>Síguenos</h3>
				<ul>
					<li><a href="" id="twiticon">Twitter</a></li>
					<li><a href="" id="faceicon">Facebook</a></li>
				</ul>
			</section>
		</footer>
		<p>&copy; 2012 - Revolución IP S.A.</p>
	</div>
</body>
</html>
