{% extends "base.html" %}
{% block content %}
			<section id="slider" class="graybars">
				<ul>
					{% for slide in slides_list %}
					<li class="active">
						<a href="{{ slide.url }}" class="aimg">
							<img src="{{ slide.image }}" alt="{{ slide.imageTitle }}">
							<span>{{ slide.imageTitle }}</span>
						</a>

						<div>
							<h3><a href="{{ slide.url }}">{{ slide.title }}</a></h3>
							<p>{{ slide.content }}</p>
						</div>
					</li>
					{% endfor %}
				</ul>
			</section>
			{% for page in pages_list %}
			<article>
				<h2>{{ page.title }}</h2>
				<img src="{{ page.imageTitle }}" alt="">
				<p>{{ page.resumen }}</p>
				<a href="{{ page.slug }}" class="readlink buttonblue">Leer más</a>
			</article>
{% endblock}
